@use "sass:string";
@import "../../Layout/styles/mq";

/// Create a curved background given a hexadecimal color
/// @param {Color} $color - Color in hexadecimal
/// @example
///   @include curve(#25B2BC);
@mixin curve($color) {
  $without-hash: string.slice("#{$color}", 2);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 30'  fill-opacity='1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M260 24.5C229.058 27.757 73.8333 26.3333 0 24.5V0L1440 0.5V24.5C1358 10.9999 939 24.5 878 24.5C817 24.5 708 36.2463 581.5 24.5C511.5 18 374 12.5 260 24.5Z' fill='%23#{$without-hash}'/%3E%3C/svg%3E%0A");
  background-size: 300%;
  @include lg {
    background-size: auto;
  }
}

/// Create a background with leaves!
/// @param {Color} $color - Color in hexadecimal
/// @example
///   @include curve(#25B2BC);
@mixin leaves($color) {
  $without-hash: string.slice("#{$color}", 2);
  background-image: url("data:image/svg+xml,%3Csvg width='273' height='66' viewBox='0 0 273 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.71182 30.0521C29.2732 18.4885 37.7229 38.6542 39.1276 50.1826C36.4562 49.7483 25.393 50.5996 23.2516 50.1779C8.93816 49.9917 5.29399 37.5895 5.26108 31.4116C1.99049 29.4892 0.419524 26.8916 0.0428701 25.8331C2.24019 27.7944 5.40439 29.463 6.71182 30.0521Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M144.019 25.01C165.457 11.4766 175.675 30.8066 178.104 42.1632C175.405 41.9694 164.462 43.8059 162.291 43.5773C148.018 44.6709 143.281 32.6439 142.696 26.4937C139.266 24.8712 137.47 22.4244 137 21.4038C139.364 23.1609 142.664 24.54 144.019 25.01Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M246.08 17.0347C270.944 21.9862 265.04 43.0385 258.981 52.9457C257.157 50.9461 247.958 44.7414 246.541 43.0808C235.44 34.0442 240.287 22.061 244.099 17.199C242.73 13.6609 243.112 10.6494 243.474 9.58591C243.978 12.4878 245.422 15.7609 246.08 17.0347Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M43.921 6.64552C69.2563 5.72016 68.3747 27.5668 64.7671 38.6058C62.5307 37.0815 52.1473 33.1694 50.3857 31.8808C37.497 25.6528 39.4457 12.874 42.0312 7.26307C39.882 4.1368 39.5583 1.11843 39.6652 3.04694e-05C40.8256 2.70708 42.9859 5.55829 43.921 6.64552Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M97.3763 23.7587L94.003 14.4918L93.9074 14.278L91.9831 15.1383L96.521 24.141C96.9798 25.1673 95.6842 25.7124 94.9791 25.8566L85.9713 28.0878L88.283 30.3895C89.1785 31.0153 88.9597 31.7117 88.7383 31.9817L82.6535 44.1942L84.9602 44.1892C85.6444 43.8833 85.9915 44.5833 86.0796 44.9715L86.7361 51.6047L91.1759 48.3371C92.0492 47.5362 92.665 47.8424 92.8637 48.0956L95.0798 50.1834L97.2531 43.5678C98.1446 42.3483 98.7347 43.2475 98.9184 43.8495L101.56 55.496L103.788 52.4473C104.509 51.3042 105.15 51.6675 105.381 51.992L111.765 57.0907L112.223 48.9331C112.011 48.0014 112.72 47.9412 113.1 48.0276L117.382 48.4225L110.464 38.6878C109.681 37.3958 110.738 37.1969 111.365 37.259L117.744 40.0511L117.643 37.5306C117.355 36.4279 118.124 36.1186 118.544 36.1018L124.367 34.7812L120.267 30.2006C119.466 29.3273 119.772 28.7115 120.025 28.5127L121.567 26.7972L108.623 23.092C108.033 23.1504 107.631 22.5948 107.503 22.3097L107.352 18.529L100.229 23.2531C98.0635 24.8368 97.4249 24.25 97.3763 23.7587Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M203.439 28.2381L201.41 22.6615L201.352 22.5328L200.194 23.0506L202.925 28.4682C203.201 29.0858 202.421 29.4138 201.997 29.5006L196.576 30.8433L197.967 32.2284C198.506 32.605 198.375 33.0241 198.241 33.1865L194.58 40.5358L195.968 40.5327C196.379 40.3487 196.588 40.7699 196.641 41.0035L197.036 44.9952L199.708 43.0289C200.234 42.5469 200.604 42.7311 200.724 42.8835L202.058 44.1399L203.365 40.1588C203.902 39.4249 204.257 39.966 204.367 40.3283L205.957 47.3369L207.298 45.5023C207.732 44.8144 208.118 45.033 208.256 45.2283L212.098 48.2966L212.374 43.3875C212.246 42.8268 212.673 42.7906 212.902 42.8426L215.478 43.0802L211.315 37.2221C210.844 36.4446 211.48 36.3249 211.857 36.3623L215.696 38.0425L215.636 36.5257C215.463 35.8621 215.925 35.676 216.178 35.6659L219.682 34.8712L217.214 32.1147C216.733 31.5891 216.917 31.2186 217.069 31.099L217.997 30.0666L210.207 27.8369C209.853 27.872 209.61 27.5377 209.534 27.3662L209.443 25.091L205.156 27.9338C203.853 28.8869 203.469 28.5338 203.439 28.2381Z' fill='%23#{$without-hash}'/%3E%3C/svg%3E%0A");
  background-repeat: repeat-x;
}

.about-me-transition {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-sky);
  height: 4rem;
  width: 100%;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-water-dark);
  }

  .curve {
    width: 100%;
    height: 1.5rem;

    &.morning {
      $color: #57ccb8;
      @include curve($color);
    }

    &.noon {
      $color: #08d9d5;
      @include curve($color);
    }

    &.afternoon {
      $color: #90c4bc;
      @include curve($color);
    }

    &.night {
      $color: #1c2c41;
      @include curve($color);
    }
  }

  .leaves {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: -0.5rem;
    left: 0;

    @include lg {
      top: -0.725rem;
    }

    &.morning {
      $color: #57ccb8;
      @include leaves($color);
    }

    &.noon {
      $color: #08d9d5;
      @include leaves($color);
    }

    &.afternoon {
      $color: #90c4bc;
      @include leaves($color);
    }

    &.night {
      $color: #1c2c41;
      @include leaves($color);
    }
  }
}
