@use "sass:string";
@import "../../Layout/styles/mq";
@import "../../Layout/styles/Layout.module.scss";

/// Create leave details on title
/// @param {Color} $color - Color in hexadecimal
/// @example
///   @include curve(#25B2BC);
@mixin leaves($color) {
  $without-hash: string.slice("#{$color}", 2);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 170 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7073 12.5923C4.03943 16.6443 0.996585 10.6424 0.308645 7.13503C1.13832 7.20882 4.51529 6.70111 5.18202 6.78286C9.57978 6.52124 10.9746 10.247 11.1223 12.1426C12.1691 12.6599 12.7091 13.4223 12.8483 13.7388C12.1301 13.1857 11.1217 12.744 10.7073 12.5923Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M79.942 35.9588C74.3988 33.6847 76.7212 29.0688 78.5752 27.045C78.9078 27.5914 80.7607 29.447 81.014 29.8963C83.1801 32.495 81.5132 35.0551 80.409 36.0103C80.5664 36.893 80.3414 37.5742 80.2093 37.8045C80.2238 37.1086 80.0371 36.2841 79.942 35.9588Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M159.68 33.7379L157.573 36.1612L157.528 36.2223L158.106 36.6535L159.937 33.9295C160.156 33.6362 160.535 33.9318 160.698 34.1163L162.886 36.4127L163.156 35.3786C163.184 35.0191 163.424 34.9755 163.54 34.9987L168.118 34.8933L167.722 34.2176C167.516 34.0643 167.659 33.8542 167.757 33.7683L169.565 32.5493L167.859 31.7529C167.478 31.6207 167.461 31.3927 167.5 31.2952L167.726 30.3222L165.438 30.7086C164.932 30.6359 165.091 30.3237 165.234 30.1766L168.155 27.5998L166.891 27.4179C166.436 27.3835 166.432 27.1393 166.486 27.0214L166.87 24.3601L164.429 25.4882C164.196 25.6944 164.057 25.4959 164.017 25.3709L163.399 24.0542L161.763 27.5893C161.523 28.0188 161.285 27.7396 161.195 27.5463L160.912 25.2434L160.199 25.663C159.929 25.918 159.708 25.7406 159.632 25.62L158.252 24.1165L157.628 26.0279C157.512 26.3979 157.281 26.4034 157.18 26.3599L156.419 26.1731L157.562 30.5428C157.68 30.7066 157.588 30.9106 157.527 30.9921L156.458 31.6214L159.045 32.9796C159.874 33.3695 159.814 33.6476 159.68 33.7379Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M80.6798 9.73789L78.5735 12.1612L78.5279 12.2223L79.1064 12.6535L80.9369 9.92954C81.1556 9.63616 81.5352 9.93179 81.6977 10.1163L83.8855 12.4127L84.1564 11.3786C84.1844 11.0191 84.4236 10.9755 84.5396 10.9987L89.1178 10.8933L88.7216 10.2176C88.5159 10.0643 88.6592 9.85418 88.7565 9.76828L90.5652 8.54925L88.859 7.75285C88.4776 7.62066 88.4608 7.39269 88.5002 7.29522L88.7255 6.32221L86.4376 6.70859C85.9319 6.63587 86.0913 6.32365 86.2342 6.17664L89.155 3.59976L87.8906 3.41794C87.4363 3.38354 87.4318 3.13927 87.4863 3.02143L87.8702 0.360094L85.4294 1.48821C85.1957 1.69436 85.057 1.49589 85.0169 1.37088L84.3985 0.0541908L82.7633 3.58933C82.5231 4.01883 82.2846 3.73962 82.1954 3.54633L81.9122 1.24342L81.1994 1.66297C80.9293 1.91802 80.7083 1.74058 80.6315 1.61997L79.2524 0.116546L78.6276 2.02785C78.5118 2.39789 78.2811 2.40338 78.1802 2.35987L77.4194 2.17313L78.5619 6.54275C78.6797 6.70664 78.5877 6.9106 78.5269 6.99209L77.4579 7.62141L80.0452 8.97957C80.8744 9.36951 80.8138 9.64759 80.6798 9.73789Z' fill='%23#{$without-hash}'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 4rem;
    text-align: center;
  }

  .title {
    position: relative;
    width: min-content;
    padding: 2rem;
    text-align: center;
    margin-bottom: -2rem;

    h2 {
      color: var(--color-water-dark);
    }

    &::after {
      content: "";
      position: absolute;
      top: 30%;
      left: 10%;
      width: 80%;
      height: 100%;
      z-index: 100;
    }

    &.morning {
      &::after {
        $color: #57ccb8;
        @include leaves($color);
      }
    }

    &.noon {
      &::after {
        $color: #08d9d5;
        @include leaves($color);
      }
    }

    &.afternoon {
      &::after {
        $color: #90c4bc;
        @include leaves($color);
      }
    }

    &.night {
      &::after {
        $color: #1c2c41;
        @include leaves($color);
      }
    }
  }
}

.works {
  @include default-grid;
}
