@use "sass:string";

/// Create leave details on title
/// @param {Color} $color - Color in hexadecimal
/// @example
///   @include curve(#25B2BC);
@mixin leaves($color) {
  $without-hash: string.slice("#{$color}", 2);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 146 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7073 6.59226C4.03943 10.6443 0.996585 4.64245 0.308645 1.13503C1.13832 1.20882 4.51529 0.701109 5.18202 0.782856C9.57978 0.521239 10.9746 4.24704 11.1223 6.14264C12.1691 6.65991 12.7091 7.42227 12.8483 7.73879C12.1301 7.1857 11.1217 6.74399 10.7073 6.59226Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M57.5953 28.2008C52.0521 25.9268 54.3745 21.3108 56.2286 19.2871C56.5611 19.8335 58.414 21.6891 58.6674 22.1384C60.8334 24.737 59.1666 27.2972 58.0624 28.2524C58.2198 29.1351 57.9948 29.8163 57.8626 30.0466C57.8771 29.3507 57.6905 28.5261 57.5953 28.2008Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M132.96 19.7278L130.854 22.1511L130.808 22.2122L131.387 22.6434L133.217 19.9194C133.436 19.626 133.816 19.9217 133.978 20.1061L136.166 22.4026L136.437 21.3685C136.465 21.009 136.704 20.9654 136.82 20.9885L141.398 20.8832L141.002 20.2075C140.796 20.0542 140.94 19.844 141.037 19.7581L142.846 18.5391L141.14 17.7427C140.758 17.6105 140.741 17.3826 140.781 17.2851L141.006 16.3121L138.718 16.6985C138.212 16.6257 138.372 16.3135 138.515 16.1665L141.436 13.5896L140.171 13.4078C139.717 13.3734 139.712 13.1291 139.767 13.0113L140.151 10.35L137.71 11.4781C137.476 11.6842 137.338 11.4858 137.297 11.3608L136.679 10.0441L135.044 13.5792C134.804 14.0087 134.565 13.7295 134.476 13.5362L134.193 11.2333L133.48 11.6528C133.21 11.9079 132.989 11.7304 132.912 11.6098L131.533 10.1064L130.908 12.0177C130.792 12.3878 130.562 12.3932 130.461 12.3497L129.7 12.163L130.842 16.5326C130.96 16.6965 130.868 16.9005 130.807 16.982L129.738 17.6113L132.326 18.9694C133.155 19.3594 133.094 19.6375 132.96 19.7278Z' fill='%23#{$without-hash}'/%3E%3Cpath d='M77.3366 27.6422L75.2302 30.0655L75.1847 30.1266L75.7632 30.5578L77.5937 27.8338C77.8124 27.5405 78.192 27.8361 78.3544 28.0206L80.5423 30.317L80.8132 29.2829C80.8412 28.9234 81.0803 28.8798 81.1964 28.903L85.7746 28.7976L85.3783 28.1219C85.1726 27.9686 85.3159 27.7585 85.4133 27.6726L87.2219 26.4536L85.5157 25.6572C85.1343 25.525 85.1176 25.297 85.1569 25.1995L85.3822 24.2265L83.0944 24.6129C82.5886 24.5402 82.748 24.2279 82.891 24.0809L85.8117 21.5041L84.5474 21.3222C84.0931 21.2878 84.0885 21.0436 84.143 20.9257L84.5269 18.2644L82.0861 19.3925C81.8525 19.5987 81.7138 19.4002 81.6736 19.2752L81.0552 17.9585L79.42 21.4936C79.1798 21.9231 78.9413 21.6439 78.8521 21.4506L78.5689 19.1477L77.8562 19.5673C77.5861 19.8223 77.365 19.6449 77.2883 19.5243L75.9092 18.0208L75.2844 19.9322C75.1685 20.3022 74.9378 20.3077 74.8369 20.2642L74.0762 20.0774L75.2186 24.447C75.3364 24.6109 75.2444 24.8149 75.1837 24.8964L74.1146 25.5257L76.7019 26.8839C77.5312 27.2738 77.4705 27.5519 77.3366 27.6422Z' fill='%23#{$without-hash}'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.blog-preview {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    position: relative;
    width: min-content;
    padding: 2rem;
    text-align: center;

    h2 {
      color: var(--color-water-dark);
    }

    &::after {
      content: "";
      position: absolute;
      top: 35%;
      left: 10%;
      width: 80%;
      height: 50%;
      z-index: 100;
    }

    &.morning {
      &::after {
        $color: #57ccb8;
        @include leaves($color);
      }
    }

    &.noon {
      &::after {
        $color: #08d9d5;
        @include leaves($color);
      }
    }

    &.afternoon {
      &::after {
        $color: #90c4bc;
        @include leaves($color);
      }
    }

    &.night {
      &::after {
        $color: #1c2c41;
        @include leaves($color);
      }
    }
  }
}
