@import "../../Layout/styles/Layout.module.scss";
@import "../../Layout/styles/mq";

.cover {
  @include default-grid;
  width: 100vw;
  height: 80vh;
  align-content: center;

  @include lg {
    height: 100vh;
    position: relative;
  }
}
