@import "../../Layout/styles/mq";

.theme-switcher {
  position: absolute;
  top: 4rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: min-content;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.15s ease-out;
  font-weight: normal;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  svg {
    fill: var(--color-font-primary);
    margin-left: 0.5rem;
  }

  @include lg {
    position: relative;
    top: 0;
    right: 0;
    grid-column: 10/12;
    grid-row: 1;
    margin-top: 2.5rem;
  }
}
