@use "sass:string";
@import "../../Layout/styles/mq";

/// Create a wave background given a hexadecimal color
/// @param {Color} $color - Color in hexadecimal
/// @example
///   @include wave(#25B2BC);
@mixin wave($color) {
  $without-hash: string.slice("#{$color}", 2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill-opacity='1' d='M773.501 31.9994C544 -22.5 141 4.00007 0.000976562 32.9995L0.0010376 106.999H1445L1445 31.9995C1313.5 50.9998 1025.4 91.8173 773.501 31.9994Z' fill='%23#{$without-hash}' %3E%3C/path%3E%3C/svg%3E%0A");
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2vh;
  background-repeat: repeat-x;
  background-size: 66% auto;

  @include lg {
    height: 4.5vw;
  }

  &-1 {
    animation: wave-animation 30s linear infinite;
    animation-delay: 0s;
    z-index: 1000;
  }

  &-2 {
    animation: wave-animation 30s linear infinite;
    animation-direction: reverse;
    animation-delay: 5s;
    bottom: 2;
    z-index: 100;
    opacity: 0.1;
  }

  &-3 {
    animation: wave-animation 20s linear infinite;
    animation-delay: 3s;
    bottom: 3;
    z-index: 10;
  }

  &-4 {
    animation: wave-animation 10s linear infinite;
    animation-direction: reverse;
    animation-delay: 5s;
    bottom: 2;
    z-index: 1;
    opacity: 0.6;
  }

  &.morning {
    $dark: #66cca8;
    $light: #57ccb8;

    &.wave-1,
    &.wave-2 {
      @include wave($dark);
    }

    &.wave-3,
    &.wave-4 {
      @include wave($light);
    }
  }

  &.noon {
    $dark: #08d9d5;
    $light: #35f5f3;

    &.wave-1,
    &.wave-2 {
      @include wave($dark);
    }

    &.wave-3,
    &.wave-4 {
      @include wave($light);
    }
  }

  &.afternoon {
    $dark: #235667;
    $light: #90c4bc;

    &.wave-1,
    &.wave-2 {
      @include wave($dark);
    }

    &.wave-3,
    &.wave-4 {
      @include wave($light);
    }
  }

  &.night {
    $dark: #1c2c41;
    $light: #119494;

    &.wave-1,
    &.wave-2 {
      @include wave($dark);
    }

    &.wave-3,
    &.wave-4 {
      @include wave($light);
    }
  }
}

@keyframes wave-animation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 66vw;
  }
}
