$mq: (
  "xs": 0px,
  "sm": 600px,
  "md": 960px,
  "lg": 1200px,
  "xl": 1920px,
  "wd": 2280px,
);

@mixin xs {
  @media only screen and (min-width: mq("xs")) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: mq("sm")) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: mq("md")) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: mq("lg")) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: mq("xl")) {
    @content;
  }
}

@mixin wd {
  @media only screen and (min-width: mq("wd")) {
    @content;
  }
}

@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}
