@import "./mq";

@mixin default-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;

  @include lg {
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
  }
}
