@import "../modules/Layout/styles/mq";

.typography {
  color: var(--color-font-primary);

  &--paragraph {
    font-size: 1rem;
  }

  &--title-1 {
    font-size: 3rem;
    font-weight: 800;

    @include lg {
      font-size: 4rem;
    }
  }

  &--title-2 {
    font-size: 2.75rem;
    font-weight: 800;

    @include lg {
      font-size: 3rem;
    }
  }

  &--title-4 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  &--title-5 {
    font-size: 1.25rem;
  }

  &--eyebrown {
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
}
